.Details {
    margin: 20px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    .content {
        margin-top: 40px;
        
        .title {
            margin-top: 40px;
            font-weight: 600;
            font-size: 40px;
        }

        .subtitle {
            font-weight: 600;
            opacity: 0.8;
            font-size: 18px;
            display: grid;
        }

        .authors {
            font-weight: 400;
            font-size: 16px;
        }
    }
}